# Data manipulation
pandas
numpy

# Database connectivity
sqlalchemy
mysql-connector-python

# Jupyter support
jupyter
ipykernel

# Data visualization / analysis
matplotlib
seaborn


# Environment variables
python-dotenv